.solicitarExamen-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, minmax(20vw, 1vh));
    /* width: 58vw; */
    padding: 10px;
}

.solicitarExamen-gridContainer {
    display: flex;
    justify-content: center;
}