.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF0F1;

    
}
.img-logo-vetapp{
    width: 175px;
    height: 75px;
}
.login-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ECF0F1;
}
.login-title{
    text-align: center;
    margin-top: 50px;
}
.login-title>p{
    color: #000;
    font-size: 2.5em;
    font-weight: 500;
}
.login-title>div{
    width: 30vw;
    height: 0.3vh;
    background-color: #000;
}
.login-inputs{
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45vh;
    width: 75%;
}
.login-inputs>input{
    /* margin-top: 5%; */
    outline: 0;
    border-width: 0 0 2px;
    border-color: #34495e;
    color: #24313f;
    font-size: 1.5em;
    background-color: transparent;
    padding-bottom: 10px;
}
.login-inputs>input::placeholder{
    color: #34495e;
}
.login-inputs > label{
    color: #2c3e50;
    font-size: 1.3em;
    margin: 75px 0 0 0;

}
.login-input{
    background-color: #003070;
    color:#2c3e50;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 5%;
    border: transparent;
}
.button{
    background-color: #000000;
    color: white;
}

.img-background-container{
    background-color: #0B523F;
    width: 65vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px 0px 0px 50px;
}
.img-logo-vetapp-blanco{
    width: 250px;
    height: 110px;
    margin-bottom: -40px;
}
.img-background-rightside{
    width: 80%;
    height: 80%;
}

@media (max-width: 320px) {
    .img-background-container{
        display: none;
    }
    .login-container{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient( 109.6deg,  rgba(96,221,142,1) 11.2%, rgba(24,138,141,1) 91.1% );    }
    /* .img-logo-vetapp{
        background-image:url("../../Assets/Imgs/VetApp-Logo-Blanco.png");
        background-color: none;
    } */
}