.header-container{
    width: 100%;
    height: 12vh;
    background-color: #218C74;
    border-bottom: #dcdde15b 0.5px solid;
}
.header{
    padding: 1%;
    display: flex;

}
.section-logo{
    width: 25%;
    border-right: 1px #dcdde1 solid;
    margin-right: 30px;
}
.header-logo-container{

    flex:1;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    /* background-color: red; */
    width: 100px !important;
    border: #dcdde1 2px solid;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
}
.examn-btn{
    /* background-color: purple !important; */
    width: 12rem;
}

.logo-vetapp-img{
    height: 50px;
    width: 125px;
}
.header>p{
    font-size: 1.3em;
    /* flex: 1.5; */
    text-align: center;
    align-self: center;
}
.general-text{
    cursor: pointer;
    align-self: center;
    color: white;
}

.underlineText{
    text-decoration: underline #eee;
    text-underline-offset: 8px;
    cursor: pointer;
    align-self: center;
    color: white;
}
.headerText {
    position: relative;
    transition: all 0.15s ease-out;
    color: #fff;
    align-self: center;
    cursor: pointer;
  }
  .headerText:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #eee;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  .headerText:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .userName{
    margin: 0px 30px 0px 30px;
    color: #dcdde1;
  }