.upload-button{
    width: 20%;
    background-color: #218C74;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.h2-Resultados{
    font-weight: 500;
}